.lists-video
	Card(className="video-item"
    style="{{ width: 300 }}"
    )
    .video
      video(poster="Group18Mask.png")
      a.play Play
    h2 ¿Consideras tener una amplia experiencia en el tema de diseño de productos digitales?
    
  Card(className="video-item"
    style="{{ width: 300 }}"
    )
    .video
      video(poster="Group18Mask.png")
      a.play Play
    h2 ¿En donde te ves en 5 años?
  Card(className="video-item"
    style="{{ width: 300 }}"
    )
    .video
      video(poster="Group18Mask.png")
      a.play Play
    h2 ¿Cuales son tus metas?

  Card(className="video-item"
    style="{{ width: 300 }}"
    )
    .video
      video(poster="Group18Mask.png")
      a.play Play
    h2 ¿Cuales son las diferencias entre UX y UI ? Has tenido experiancia ...

  Card(className="video-item"
    style="{{ width: 300 }}"
    )
    .video
      video(poster="Group18Mask.png")
      a.play Play
    h2 ¿Cuales son las primeras diferencias que encuentras entre UI y UX?
